.listCardContainer {
  background-color: #f1f3f5;
  padding: 0rem 0rem 10rem 0rem;
}
.tabs {
  margin-bottom: 3rem !important;
  padding-right: 0rem !important;
}
.tabitem {
  color: #333 !important;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  background-color: #f1f3f5 !important;
  // border: none !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  // border-bottom: transparent;
  border-bottom: none;
}
.nav-item {
  transition: all 0.2s ease-in;
  &:hover {
    border-radius: 0.5rem;
  }
}
.tabitem.active {
  background-color: #e9ecef !important;
  font-weight: 700;
  border-bottom: 2px solid #028b51 !important;
}
.card {
  align-items: center;
}
