@media only screen and (min-width: 1200em) {
  html {
    font-size: 49% !important;
  }
}
@media only screen and (min-width: 1400em) {
  html {
    font-size: 55% !important;
  }
}
@media only screen and (min-width: 1600em) {
  html {
    font-size: 61% !important;
  }
}
@media only screen and (min-width: 1800em) {
  html {
    font-size: 69% !important;
  }
}
@media only screen and (min-width: 1920em) {
  html {
    font-size: 75% !important;
  }
}
